{# Feed switcher, sits inside the filter bar. Expects active_feed ("dynamic", "newest" or "popular") #}
<div class="tabs is-toggle is-rounded">
  <ul>
    <li {% if active_feed == "dynamic" %}class="is-active"{% endif %}><a href="{% url 'home' %}">Dynamic</a></li>
    <li {% if active_feed == "newest" %}class="is-active"{% endif %}><a href="{% url 'newest' %}">Newest</a></li>
    <li {% if active_feed == "popular" %}class="is-active"{% endif %}><a href="{% url 'popular' %}">Popular</a></li>
  </ul>
</div>
